################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/PublicRepository/FileContentIndex/c87b2590-0bab-4f1a-adeb-7c0356321f9d.vsidx
/.vs/PublicRepository/FileContentIndex/7e30564d-7344-4d8e-a32c-22fda48c0cf3.vsidx
